[Unit]
Description=parser service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u workable.py /home/pi/lr_test2/PatchedKML/
WorkingDirectory=/home/pi/lr_test2/
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
